.btnpink {
    background-image: linear-gradient(170deg, $colour-secondary, $colour-primary);
    color: white;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    margin-top: 1rem;
    border-radius: 1.5rem;
    transition: all 150ms;
    cursor: pointer;
    @include shadow1;
    &:hover {
        opacity: 0.9;
        @include shadow2;
    }
}

.btnpink2 {
    background-image: linear-gradient(170deg, $colour-secondary, $colour-primary);
    color: white;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    margin-top: 1rem;
    border-radius: 1.5rem;
    transition: all 150ms;
    cursor: pointer;
    @include shadow1;
    &:hover {
        opacity: 0.9;
        @include shadow2;
    }
}

.explain {
    counter-reset: steps;
    ol {
        display: flex;
        @media (max-width: 880px) {
            flex-direction: column;
        }
        gap: 1.5rem;
        li {
            list-style-type: none;
            font-weight: 600;
            background-color: $colour-grey2;
            flex-grow: 1;
            padding: 1.5rem;
            border-radius: 1rem;
            position: relative;
            transition: all 150ms;
            &::before {
                content: counter(steps);
                counter-increment: steps;
                color: white;
                background-color: $colour-primary;
                display: grid;
                place-items: center;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                position: absolute;
                bottom: 1.4rem;
                left: -0.7rem;
            }
            @include shadow1;
            &:hover {
                background-color: $colour-primarylight;
                @include shadow2;
                i {
                    color: $colour-primary;
                }
            }
            i {
                color: gray;
                padding-right: 1rem;
                font-size: 1.2rem;
            }
        }
    }
}