    .section1img img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    
    .sectionmenu {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $colour-grey2;
        border-radius: 1.5rem 1.5rem 0 0;
        padding-bottom: 40px;
        // padding-top: -3rem;
        margin-top: -2rem;
    }
    
    .head_menu {
        position: relative;
        display: flex;
        h1 {
            font-family: 'Shrikhand', cursive;
            padding-top: 0.5rem;
            padding-left: 25px;
            font-size: 1.5rem;
        }
        .fa-solid {
            position: absolute;
            top: 1.6rem;
            right: 1.5rem;
            font-size: 1.5rem;
            color: transparent;
            transition: all 200ms;
            background-image: linear-gradient( $colour-primary, $colour-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
        }
        .fa-solid:hover {
            opacity: 1;
            transform: scale(1.05);
        }
        .fa-regular {
            position: absolute;
            top: 1.6rem;
            right: 1.5rem;
            font-size: 1.5rem;
            color: black;
        }
    }
    
    .menu-selection {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        border: 1px red solid;
        padding-top: 1rem;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 780px) {
            grid-template-columns: 1fr;
        }
        h2 {
            font-size: medium;
            font-weight: 400;
        }
    }
    
    .menu-element {
        background-color: white;
        border-radius: 1rem;
        @include shadow3;
        display: flex;
        overflow: hidden;
        // &>* {
        //     border: 1px red solid;
        // }
        h4 {
            padding: 1rem 0 0 1rem;
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            padding-left: 1rem;
            margin-top: 10px;
            font-weight: 300;
        }
        .price-description {
            margin-left: auto;
            padding-top: 2.1rem;
            padding-right: 1rem;
            p {
                font-weight: bold;
            }
        }
        .check-box {
            background-color: $colour-tertiary;
            border-radius: 0 1rem 1rem 0;
            width: 4rem;
            margin-right: -4rem;
            transition: all 400ms;
            cursor: pointer;
            display: grid;
            place-items: center;
            i {
                background-color: white;
                border-radius: 50%;
                font-size: larger;
                padding: 0.1rem;
                color: $colour-tertiary;
            }
        }
        &:hover .check-box {
            margin-right: 0;
        }
    }