.section1img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.sectionmenu {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $colour-grey2;
    border-radius: 1.5rem 1.5rem 0 0;
    padding-bottom: 40px;
    // padding-top: -3rem;
    margin-top: -2rem;
}

.head_menu {
    position: relative;
    display: flex;
    h1 {
        font-family: 'Shrikhand', cursive;
        padding-top: 0.5rem;
        padding-left: 25px;
        font-size: 1.5rem;
    }
    .fa-solid {
        position: absolute;
        top: 1.6rem;
        right: 1.5rem;
        font-size: 1.5rem;
        color: transparent;
        transition: all 200ms;
        background-image: linear-gradient( $colour-primary, $colour-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
    }
    .fa-solid:hover {
        opacity: 1;
        transform: scale(1.05);
    }
    .fa-regular {
        position: absolute;
        top: 1.6rem;
        right: 1.5rem;
        font-size: 1.5rem;
        color: black;
    }
}

.menu {
    border: 1px red solid;
}