.section1img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.divlocation {
    height: 50px;
    background-color: $colour-grey1;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    .local {
        font-weight: 500;
    }
    .fa-location-dot {
        position: absolute;
        padding-right: 150px;
        padding-bottom: 5px;
    }
}

.divdescription {
    background-color: $colour-grey2;
    text-align: center;
    h1 {
        margin-top: 0px;
        padding: 1.5em 2em 0 2em;
        font-size: 1.5em;
    }
    p {
        padding: 0em 2em 0em 2em;
        font-weight: 300;
    }
}