.footer {
    background-color: $colour-footer;
    padding-bottom: 10px;
    @media (min-width: 780px) {
        padding-left: 40px;
    }
    h3 {
        margin: inherit;
        font-family: 'Shrikhand', cursive;
        color: white;
        padding-top: 20px;
        padding-left: 25px;
    }
    li {
        color: white;
        margin-left: -15px;
        padding-bottom: 5px;
        list-style: none;
    }
}

.fa-utensils {
    margin-right: 10px;
}

.fa-handshake-angle {
    margin-right: 4px;
}